@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

/* CSS cho breadcrumb chung */
.ant-breadcrumb {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* CSS cho link trong breadcrumb */
.ant-breadcrumb-link {
  color: #ff7506;
}

/* CSS cho phân tách giữa các mục breadcrumb */
.ant-breadcrumb-separator {
  color: #666;
}

.content__global {
  min-height: 100vh;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-layout-header {
  height: 64px;
  padding-inline: 20px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;
  background: #001529;
}

.ant-select-arrow {
  color: #ff7506 !important; /* Thay đổi thành màu sắc mong muốn */
}

.ant-picker-suffix {
  color: #ff7506 !important;
}

.ant-input-affix-wrapper .anticon {
  color: #ff7506; /* Thay đổi thành màu sắc mong muốn */
}

.select__add .ant-select-selection-item {
  background-color: #ffac6a !important;
  color: white !important;
}

tr:nth-child(even) {
  background: #fff2e7;
}

.table_btn {
  margin: 0 !important;
}
.ant-btn {
  margin: 0;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-menu-submenu-popup
  .ant-menu-vertical
  > .ant-menu-item,
:where(.css-dev-only-do-not-override-1wazalj).ant-menu-submenu-popup
  .ant-menu-vertical
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  height: 40px;
  line-height: 40px;
  width: 160px;
}

.footer-modal {
  background-color: #ff7506;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-modal .ant-modal-content {
  position: relative;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 0;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-popover .ant-popover-inner {
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  /* padding: 12px; */
  padding: 0;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-card .ant-card-body {
  padding: 13px;
  border-radius: 0 0 8px 8px;
}

a {
  text-decoration: none;
}
